@import '_functions';

// Font-base
$font-base: 16 !default;
$grid-columns: 12;

// Cores
$color-white: #fff;
$color-light: #e1d7e3;
$color-lightBlue: #9bdaf2;
$color-danger: #cc2127;
$color-black: #222121;
$color-dark: #4a494a;
$color-gray: #9b9b9b;
$color-brand: #383433;
$color-brand2: #302625;

$radioSize: 22px;
