@import '../_utilities/_exports';

.l-app {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  padding: pxToRem(20) pxToRem(8) 0;
  width: 100vw;
}

.l-page {
  margin: 0 auto;
  max-width: pxToRem(768);
  padding-top: pxToRem(32);
  width: 100%;

  &--home {
    @extend .l-page;
  }
}
