@import '../_utilities/_exports';

.m-btnPlaceholder {
  background-color: transparent;
  background-position: center;
  border: none;
  border-radius: pxToRem(4);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-bottom: pxToRem(12);
  outline: none;
  padding: pxToRem(14) pxToRem(12);
  position: relative;
  transition: opacity .15s linear, background .8s;
  text-align: center;

  &:focus,
  &:active {
    outline: none;
  }
}

.m-btn {
  @extend .m-btnPlaceholder;

  &--search {
    @extend .m-btnPlaceholder;
    background-color: $color-dark;
    color: $color-white;
    width: 100%;

    &:disabled {
      cursor: not-allowed;
      opacity: .72;
    }

    &:hover {
      background: $color-dark radial-gradient(circle, transparent 1%, $color-dark 1%) center/15000%;
    }

    &:active {
      background-color: lighten($color-dark, 6%);
      background-size: 100%;
      transition: background .12ms;
    }
  }

  &--loading {
    color: transparent;
    pointer-events: none;

    &:after {
      animation: spinner .5s infinite linear;
      border: pxToRem(2) solid #dbdbdb;
      border-radius: pxToRem(290486);
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: pxToRem(16);
      position: absolute;
      width: #{pxToRem(16)};
      left: calc(50% - (#{pxToRem(16)} / 2));
      top: calc(50% - (#{pxToRem(16)} / 2));
    }
  }
}
